@{
    ViewData["Title"] = "Logged in, homie";
}


<div>
    <form method="post">
        <div>
            <label for="itemTitle">Title</label>
            <input id="itemTitle" name="itemTitle" type="text" class="form-control" />
        </div>

        <div>
            <label for="itemDescription">Description</label>
            <input id="itemDescription" name="itemDescription" type="text" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Submit todo</button>
        @{
            if (ViewBag.Message != null) {
                <p>@ViewBag.Message</p>
            }
        }


    </form>
</div>

@if (ViewBag.Todos != null) {
    @foreach (TodoItem todoItem in ViewBag.Todos) {
        <h2>@Html.DisplayFor(m => todoItem.Title)</h2>
        <h3>@Html.DisplayFor(m => todoItem.Description)</h3>
        <h4>@Html.DisplayFor(m => todoItem.Added)</h4>
        
        <a href="/Home/DeleteTodo/@todoItem.Id" onclick="return confirm('Are you sure you wish to delete?')">Delete</a>
    }
}



